In [15]:
import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [11]:
rides_df = pd.read_csv('data/cab_rides.csv')
weather_df = pd.read_csv('data/weather.csv')
rides_df.drop(['product_id', 'id'], axis=1, inplace=True)

In [35]:
rides_df['date_time'] = rides_df.apply(lambda x: datetime.datetime.fromtimestamp(x['time_stamp']/1000)
                                       .strftime('%c'), 
                                       axis=1)
rides_df['date_time'] = pd.to_datetime(rides_df.date_time)
weather_df['date_time'] = weather_df.apply(lambda x: datetime.datetime.fromtimestamp(x['time_stamp'])
                                           .strftime('%c'), 
                                           axis=1)
weather_df['date_time'] = pd.to_datetime(weather_df.date_time)

In [50]:
rides_df['merge_date'] = (rides_df.source.astype('str')+ ' - ' 
                          + rides_df.date_time.dt.date.astype('str') 
                          + ' '
                          + rides_df.date_time.dt.hour.astype('str'))

weather_df['merge_date'] = (weather_df.location.astype('str') + ' - '
                            + weather_df.date_time.dt.date.astype('str')
                            + ' '
                            + weather_df.date_time.dt.hour.astype('str'))

In [69]:
np.sum(rides_df.isna())

distance                0
cab_type                0
time_stamp              0
destination             0
source                  0
price               55095
surge_multiplier        0
name                    0
date_time               0
merge_date              0
dtype: int64

In [ ]:
rides_df.dropna(inplace=True)

In [59]:
full_df = pd.merge(rides_df, weather_df, on='merge_date', suffixes=('_rides', '_weather'))
full_df.drop(['date_time_weather', 'time_stamp_weather', 
              'time_stamp_rides', 'merge_date', 
              'location'], axis=1, inplace=True)
full_df = pd.get_dummies(full_df, columns=['cab_type', 'destination', 'source', 'name'])
full_df.head()

,distance,price,surge_multiplier,date_time_rides,temp,clouds,pressure,rain,humidity,wind,...,name_Lux Black,name_Lux Black XL,name_Lyft,name_Lyft XL,name_Shared,name_Taxi,name_UberPool,name_UberX,name_UberXL,name_WAV
0,0.44,5.0,1.0,2018-12-16 04:30:07,38.46,0.29,1022.25,NaN,0.76,7.68,...,0,0,0,0,1,0,0,0,0,0
1,1.33,7.0,1.0,2018-12-16 04:25:09,38.46,0.29,1022.25,NaN,0.76,7.68,...,0,0,1,0,0,0,0,0,0,0
2,0.53,27.5,1.0,2018-12-16 04:05:09,38.46,0.29,1022.25,NaN,0.76,7.68,...,0,1,0,0,0,0,0,0,0,0
3,2.36,7.0,1.0,2018-12-16 04:55:08,38.46,0.29,1022.25,NaN,0.76,7.68,...,0,0,0,0,1,0,0,0,0,0
4,0.62,10.5,1.0,2018-12-16 04:55:08,38.46,0.29,1022.25,NaN,0.76,7.68,...,0,0,0,0,0,0,0,0,1,0

In [61]:
full_df['rain'] = full_df.rain.fillna(0)

In [65]:
np.sum(full_df.isna(), axis=0)

distance                                    0
price                                  100679
surge_multiplier                            0
date_time_rides                             0
temp                                        0
clouds                                      0
pressure                                    0
rain                                        0
humidity                                    0
wind                                        0
cab_type_Lyft                               0
cab_type_Uber                               0
destination_Back Bay                        0
destination_Beacon Hill                     0
destination_Boston University               0
destination_Fenway                          0
destination_Financial District              0
destination_Haymarket Square                0
destination_North End                       0
destination_North Station                   0
destination_Northeastern University         0
destination_South Station                   0
destination_Theatre District                0
destination_West End                        0
source_Back Bay                             0
source_Beacon Hill                          0
source_Boston University                    0
source_Fenway                               0
source_Financial District                   0
source_Haymarket Square                     0
source_North End                            0
source_North Station                        0
source_Northeastern University              0
source_South Station                        0
source_Theatre District                     0
source_West End                             0
name_Black                                  0
name_Black SUV                              0
name_Lux                                    0
name_Lux Black                              0
name_Lux Black XL                           0
name_Lyft                                   0
name_Lyft XL                                0
name_Shared                                 0
name_Taxi                                   0
name_UberPool                               0
name_UberX                                  0
name_UberXL                                 0
name_WAV                                    0
dtype: int64

In [67]:
full_df.dropna(inplace=True)

In [68]:
full_df.head()

,distance,price,surge_multiplier,date_time_rides,temp,clouds,pressure,rain,humidity,wind,...,name_Lux Black,name_Lux Black XL,name_Lyft,name_Lyft XL,name_Shared,name_Taxi,name_UberPool,name_UberX,name_UberXL,name_WAV
0,0.44,5.0,1.0,2018-12-16 04:30:07,38.46,0.29,1022.25,0.0,0.76,7.68,...,0,0,0,0,1,0,0,0,0,0
1,1.33,7.0,1.0,2018-12-16 04:25:09,38.46,0.29,1022.25,0.0,0.76,7.68,...,0,0,1,0,0,0,0,0,0,0
2,0.53,27.5,1.0,2018-12-16 04:05:09,38.46,0.29,1022.25,0.0,0.76,7.68,...,0,1,0,0,0,0,0,0,0,0
3,2.36,7.0,1.0,2018-12-16 04:55:08,38.46,0.29,1022.25,0.0,0.76,7.68,...,0,0,0,0,1,0,0,0,0,0
4,0.62,10.5,1.0,2018-12-16 04:55:08,38.46,0.29,1022.25,0.0,0.76,7.68,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
full_df.to_csv('data/rides_weather')