In [14]:
import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [15]:
rides_df = pd.read_csv('data/cab_rides.csv')
weather_df = pd.read_csv('data/weather.csv')
rides_df.drop(['product_id'], axis=1, inplace=True)

In [16]:
rides_df['date_time'] = rides_df.apply(lambda x: datetime.datetime.fromtimestamp(x['time_stamp']/1000)
                                       .strftime('%c'), 
                                       axis=1)
rides_df['date_time'] = pd.to_datetime(rides_df.date_time)
weather_df['date_time'] = weather_df.apply(lambda x: datetime.datetime.fromtimestamp(x['time_stamp'])
                                           .strftime('%c'), 
                                           axis=1)
weather_df['date_time'] = pd.to_datetime(weather_df.date_time)

In [19]:
rides_df['merge_date'] = (rides_df.source.astype('str')+ ' - ' 
                          + rides_df.date_time.dt.date.astype('str') 
                          + ' '
                          + rides_df.date_time.dt.hour.astype('str'))

weather_df['merge_date'] = (weather_df.location.astype('str') + ' - '
                            + weather_df.date_time.dt.date.astype('str')
                            + ' '
                            + weather_df.date_time.dt.hour.astype('str'))

In [20]:
np.sum(rides_df.isna())

distance                0
cab_type                0
time_stamp              0
destination             0
source                  0
price               55095
surge_multiplier        0
id                      0
name                    0
date_time               0
merge_date              0
dtype: int64

In [21]:
rides_df.dropna(inplace=True)

In [22]:
rides_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637976 entries, 0 to 693070
Data columns (total 11 columns):
distance            637976 non-null float64
cab_type            637976 non-null object
time_stamp          637976 non-null int64
destination         637976 non-null object
source              637976 non-null object
price               637976 non-null float64
surge_multiplier    637976 non-null float64
id                  637976 non-null object
name                637976 non-null object
date_time           637976 non-null datetime64[ns]
merge_date          637976 non-null object
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 58.4+ MB

In [24]:
full_df.columns

Index(['distance', 'cab_type', 'time_stamp_rides', 'destination', 'source',
       'price', 'surge_multiplier', 'id', 'name', 'date_time_rides',
       'merge_date', 'temp', 'location', 'clouds', 'pressure', 'rain',
       'time_stamp_weather', 'humidity', 'wind', 'date_time_weather'],
      dtype='object')

In [25]:
full_df = pd.merge(rides_df, weather_df, on='merge_date', suffixes=('_rides', '_weather'), how='left')
full_df['hour_of_day'] = full_df.date_time_rides.dt.hour
full_df.drop(['date_time_weather', 'time_stamp_weather', 
              'time_stamp_rides', 'merge_date', 
              'location'], axis=1, inplace=True)
full_df = pd.get_dummies(full_df, columns=['cab_type', 'destination', 'source', 'name', 'hour_of_day'])
full_df.drop_duplicates(subset='id', keep='first', inplace=True)
full_df.head()

,distance,price,surge_multiplier,id,date_time_rides,temp,clouds,pressure,rain,humidity,...,hour_of_day_14,hour_of_day_15,hour_of_day_16,hour_of_day_17,hour_of_day_18,hour_of_day_19,hour_of_day_20,hour_of_day_21,hour_of_day_22,hour_of_day_23
0,0.44,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,2018-12-16 04:30:07,38.46,0.29,1022.25,NaN,0.76,...,0,0,0,0,0,0,0,0,0,0
1,0.44,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,2018-11-26 21:00:23,44.31,1.00,1003.17,0.1123,0.90,...,0,0,0,0,0,0,0,1,0,0
3,0.44,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,2018-11-27 20:00:22,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
4,0.44,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,2018-11-29 23:53:02,35.08,0.00,1013.71,NaN,0.70,...,0,0,0,0,0,0,0,0,0,1
5,0.44,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,2018-11-28 22:49:20,37.58,0.42,998.64,NaN,0.71,...,0,0,0,0,0,0,0,0,1,0

In [26]:
full_df['rain'] = full_df.rain.fillna(0)

In [27]:
np.sum(full_df.isna(), axis=0)

distance                                  0
price                                     0
surge_multiplier                          0
id                                        0
date_time_rides                           0
temp                                   2734
clouds                                 2734
pressure                               2734
rain                                      0
humidity                               2734
wind                                   2734
cab_type_Lyft                             0
cab_type_Uber                             0
destination_Back Bay                      0
destination_Beacon Hill                   0
destination_Boston University             0
destination_Fenway                        0
destination_Financial District            0
destination_Haymarket Square              0
destination_North End                     0
destination_North Station                 0
destination_Northeastern University       0
destination_South Station                 0
destination_Theatre District              0
destination_West End                      0
source_Back Bay                           0
source_Beacon Hill                        0
source_Boston University                  0
source_Fenway                             0
source_Financial District                 0
                                       ...
name_Lyft XL                              0
name_Shared                               0
name_UberPool                             0
name_UberX                                0
name_UberXL                               0
name_WAV                                  0
hour_of_day_0                             0
hour_of_day_1                             0
hour_of_day_2                             0
hour_of_day_3                             0
hour_of_day_4                             0
hour_of_day_5                             0
hour_of_day_6                             0
hour_of_day_7                             0
hour_of_day_8                             0
hour_of_day_9                             0
hour_of_day_10                            0
hour_of_day_11                            0
hour_of_day_12                            0
hour_of_day_13                            0
hour_of_day_14                            0
hour_of_day_15                            0
hour_of_day_16                            0
hour_of_day_17                            0
hour_of_day_18                            0
hour_of_day_19                            0
hour_of_day_20                            0
hour_of_day_21                            0
hour_of_day_22                            0
hour_of_day_23                            0
Length: 73, dtype: int64

In [28]:
full_df.dropna(inplace=True)

In [29]:
full_df.drop('id', axis=1, inplace=True)

In [30]:
full_df.to_csv('data/rides_weather_df.csv')